h1 Edukasyon Admin Dashboard
p Please use the sidebar to navigate between different database items.
p For any questions or feedback, please contact Stef at #{mail_to "stef@stefanielim.com"}.

h2 Classes
p = link_to "View All Classes", admin_courses_path
